<ion-side-menus enable-menu-with-back-views="true">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-assertive">
            <ion-nav-back-button>
            </ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="side-menu22"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left" id="side-menu22">
        <ion-header-bar class="bar-assertive">
            <div class="title">CalChecker</div>
        </ion-header-bar>
        <ion-content padding="false" class="side-menu-left has-header">
            <ion-list id="calChecker-list5">
                <ion-item id="calChecker-list-item4" ui-sref="calChecker.search" menu-close="">Home</ion-item>
                <ion-item id="calChecker-list-item6" ui-sref="calChecker.bMI" menu-close="">BMI(Body Mass Index)</ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
